.bg{
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    background-position: center;
    height: 1000px;
    border-radius: 20px;
}

/* App Ski */
.bg h2{
    padding-top: 50px;
    padding-left: 20px;
    color: black;
    /* color: rgba(21,86,154,255); */
}

.spacing{
    padding-left: 20px;

}

