*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000814;
    color: #fff;
}

/* Nav spacing */
nav{
    flex-wrap: wrap;
}

/* nav styling */
nav li{
    display: inline-block;
    list-style: none;
}

/* text styling */
nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}

/* class styling of navigation bar */
.container{

    text-align: center;
}

/* adding padding to the search buttong */
.fa-solid{
    padding-left: 20px;
}

.topnav{
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

/* full screen background image */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/homepic.webp) ;
    background-size: cover;
    background-position: center;
}
