* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: #000814;
  color: #fff;
}

/* Nav spacing */
nav {
  flex-wrap: wrap;
}

/* nav styling */
nav li {
  display: inline-block;
  list-style: none;
}

/* text styling */
nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
}

/* adding padding to the search buttong */
.fa-magnifying-glass {
  padding-left: 20px;
}

.topnav {
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

/* full screen background image */
#layout {
  width: 100%;
  height: 100vh;
  background-image: url(images/homepic.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#header2 {
  width: 100%;
  height: 50%;
  background-color: rgba(21, 86, 154, 255);
  background-size: cover;
  background-position: center;
}

.mainText {
  /* margin-top: 15%; */
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mainText p {
  /* margin-top: 7%; */
  font-size: 100px;
  text-align: left;
}

.mainText h3 {
  font-size: 20px;
}

.sreport {
  font-size: 40px;
  color: #fff;
  text-align: center;
}

#snowReportBox {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 15px;
  width: 27%;
  margin-left: 60%;
  margin-top: 12%;
}

.ricons {
  padding-top: 15px;
  font-size: 25px;
}
/* Section 2 */

.section2 {
  height: 100vh;
  background-color: #3e6ca5;
  position: relative;
}

.section2 h1 {
  font-size: 100px;
  color: #fff;
  /* margin-top: 0%; */
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.section2 h3{
  padding-left: 10%;
  padding-top: 5%;
  font-size: 30px;
}

.section2 p{
  padding-left: 10%;
  font-size: 30px;
}


/* Mobile config */
/* do not add big photo, for loading purposes */
