*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background: #000814;
    color: #fff;
}


/* Nav spacing */
nav{
    flex-wrap: wrap;
}

/* nav styling */
nav li{
    display: inline-block;
    list-style: none;
}

/* text styling */
nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}

/* class styling of navigation bar */
.container{
    
}

/* adding padding to the search buttong */
.fa-magnifying-glass{
    padding-left: 20px;
}

.topnav{
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

/* full screen background image */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/homepic.webp) ;
    background-size: cover;
    background-position: center;
}

#header2{
    width: 100%;
    height: 50%;
    background-color: rgba(21,86,154,255);
    background-size: cover;
    background-position: center;
}

.headertext p{
    margin-top: 7%;
    font-size: 100px;
    text-align: left;
}

.headertext h3{
    font-size: 20px;
}

.border{
    padding-left: 45px;
    padding-right: 45px;
}

.sreport{
    font-size: 40px;
    color: #fff;
    /* text-align: left; */
    padding-right: 15%;
}

#shade{
    background-color: rgba( 0,0,0, 0.6);
    padding: 20px;
    border-radius: 15px;
    width: 27%;
    margin-left: 60%;
    margin-top: 12%;
}

.ricons{
    padding-top: 15px;
    font-size: 25px;
}





/* Mobile config */
/* do not add big photo, for loading purposes */

